################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Paso 2/Agenda/Agenda/obj
/Paso 2/Agenda/Agenda/bin/Debug
/Paso 2/Agenda/Agenda/bin/Debug

/Paso 2/Agenda/Agenda.Android/obj
/Paso 2/Agenda/Agenda.Android/bin/Debug
/Paso 2/Agenda/Agenda.Android/bin/Debug

/Paso 2/Agenda/Agenda.iOS/obj
/Paso 2/Agenda/Agenda.iOS/bin/Debug
/Paso 2/Agenda/Agenda.iOS/bin/Debug

/Paso 2/Agenda/Agenda.UWP/obj
/Paso 2/Agenda/Agenda.UWP/bin/Debug
/Paso 2/Agenda/Agenda.UWP/bin/Debug
